body {
    margin: 0;
    background-color: #910002;
    font-family: Cambria;
}

.navbar {
    width: 100%;
    background-color: #000000;
    overflow: auto;

}

.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}


.navbar a:hover {
    background-color: rgba(210, 208, 208, 0.19);
}

/*
.active {
    background-color: #910002;
}
*/

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}

.Logobox {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

.Intro {
    padding-left: 50px;
    padding-right: 50px;
}

.Logincontainer {
    padding: 16px 16px 50px;
    text-align: center;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    width: 50%;

}

.Logincontainer label {
    border: 1px black;
}

.loginsubmit {

    box-sizing: border-box;
    padding: 10px 20px;
    background-color: #910002;
    color: #f2f2f2;
    border-radius: 4px;
    border: 1px solid #000000;
    float: right;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.Bio input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.searchbar {
    font-family: Arial, FontAwesome;
    width: 40%;
}

.Table\,con {
    margin-top: 5%;
    padding: 20px;
    font-family: sans-serif;
    background-color: #f2f2f2;
    width: 65%;
    border-radius: 5px;
    float: left;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.table header, td {
    padding: 12px 15px;
    border: 1px solid red;
    text-align: center;
}

.Bio {
    float: right;
    text-align: center;
    background-color: #f2f2f2;
    width: 30%;
    padding: 5px;
    margin: 5% 0;
    border-radius: 5px;
}


.Bio img {
    max-width: 75%;
    max-height: 50%;
}

.CustomerSearch {
    font-family: Arial, FontAwesome;
    width: 40%;
    float: left;

}

.LendB {
    box-sizing: border-box;
    padding: 12px 20px;
    background-color: #910002;
    color: #f2f2f2;
    border-radius: 4px;
    border: 1px solid #000000;
    float: left;
    margin: 8px 0 0 25px;
}

table tr :hover {
    background-color: brown;
    color: #FFF;
}

.AdminTable_con {
    margin-top: 5%;
    padding: 20px;
    font-family: sans-serif;
    background-color: #f2f2f2;
    border-radius: 5px;

}




